<div class='container'>
  <% if current_user %>
    <%= link_to 'New', new_note_path, onclick: 'create(event, this)' %>
  <% end %>
  <% @notes.each do |note| %>
    <div class='mac_folder'>
      <%= link_to url_for(note.note_file), target: '_blank', class: 'mac_folder_link' do %>
        <img src='<%= asset_path 'mac_folder.png' %>' alt='folder'>
        <div><span><%= note.title %></span></div>
      <% end %>
      <%= link_to note_path(note.id), method: 'delete' do %>
        <i class="fas fa-dumpster"></i>
      <% end %>
    </div>
  <% end %>
</div>
