<div class='container'>
  <% if current_user %>
    <%= link_to 'New', new_blog_path, onclick: 'create(event, this)' %>
  <% end %>
  <% @blogs.each do |blog| %>
    <div class='mac_folder'>
      <%= link_to blog.link, target: '_blank', class: 'mac_folder_link' do %>
        <img src='<%= asset_path 'mac_folder.png' %>' alt='folder'>
        <div><span><%= blog.title %></span></div>
      <% end %>
      <%= link_to blog_path(blog.id), method: 'delete' do %>
        <i class="fas fa-dumpster"></i>
      <% end %>
    </div>
  <% end %>
</div>