<div class='home'>
  <div class='system_disk'>
    <img src='<%= asset_path 'floppy.png' %>' alt='system_disk'>
    <div><span>System Disk</span></div>
  </div>
  <div class='trash'>
    <img src='<%= asset_path 'trash.png' %>' alt='trash'>
    <div><span>Trash</span></div>
  </div>
  <div class='terminal'>
    <img src='<%= asset_path 'terminal.png' %>' alt='terminal'>
    <div><span>Terminal</span></div>
  </div>
  <div class='blogs' onclick='open_folder(this)'>
    <img src='<%= asset_path 'folder.png' %>' alt='folder'>
    <div><span>Blog</span></div>
  </div>
  <div class='notes' onclick='open_folder(this)'>
    <img src='<%= asset_path 'folder.png' %>' alt='folder'>
    <div><span>Good To Know</span></div>
  </div>
  <div class='challenges' onclick='open_folder(this)'>
    <img src='<%= asset_path 'folder.png' %>' alt='folder'>
    <div><span>Challenges</span></div>
  </div>
  <div id='renderFolder' class='render_folder'></div>
</div>
