<div class='container'>
  <% if current_user %>
    <%= link_to 'New', new_challenge_path, onclick: 'create(event, this)' %>
  <% end %>
  <% @challenges.each do |challenge| %>
    <div class='mac_folder'>
      <%= link_to challenge.link, target: '_blank', class: 'mac_folder_link' do %>
        <img src='<%= asset_path 'mac_folder.png' %>' alt='folder'>
        <div><span><%= challenge.title %></span></div>
      <% end %>
      <% if current_user %>
        <%= link_to challenge_path(challenge.id), method: 'delete' do %>
          <i class="fas fa-dumpster"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>